<ion-header>
  <ion-toolbar>
    <ion-title>Bunratty Castle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Bunrattybig.jpg">
<p>Bunratty Castle is a large 15th-century tower house in County Clare, Ireland. It is located in the centre of Bunratty village (Irish: Bun Ráite), by the N18 road between Limerick and Ennis, near Shannon Town and its airport. The castle and the adjoining folk park are run by Shannon Heritage as tourist attractions.</p>

</ion-content>
