<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tourist Destinations in Ireland
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ul>
    <li [routerLink]="['/cliffs-of-moher']"routerDirection="forward"></li>Cliffs of Moher</li>
    <li [routerLink]="['/newgrange']"routerDirection="forward"></li>Newgrange</li>
    <li [routerLink]="['/bunratty-castle']"routerDirection="forward"></li>Bunratty Castle</li>
    <li [routerLink]="['/glendalough']"routerDirection="forward"></li>Glendalough</li>
    <li [routerLink]="['/grafton-street']"routerDirection="forward"></li>Grafton Street</li>



  </ul>

  
</ion-content>
